/* Distribute to all */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* End of Distribute to all */

/* App Container */
.app-container {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* End of App Container */

/* Keyboard Container */
.keyboard-container {
  max-width: 100vw;
  max-height: 50vh;
  
  display: flex;
  flex-direction: row;
  position: relative;
}
/* End of Keyboard Container */


/* White Key */
.white-key {
  width: 60px;
  height: 220px;

  background-color: #fff;
  border: 1px solid #111;
  border-radius: 0px 0px 5px 5px;
}
/* End of White Key */

/* Black Key */
.black-key {
  top: 0;
  width: 30px;
  height: 150px;
  border-radius: 0px 0px 5px 5px;

  background-color: #111;
  position: absolute;
  z-index: 1;
}
/* End of Black Key */

/* Black keys (sharp keys) */
.c-sharp {
  left: 45px;
}

.d-sharp {
  left: 105px;
}

.f-sharp {
  left: 225px;
}

.g-sharp {
  left: 285px;
}

.a-sharp {
  left: 345px;
}
/* End of Black keys (sharp keys) */

/* Highlight */
.highlighted {
  background-color: #accef7;
}
/* End of Highlight */