/* Distribute to all */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* End of Distribute to all */

/* App Container */
.app-container {
  font-family: 'Roboto';
  margin-top: 70px;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* End of App Container */

/* Keyboard Container */
.keyboard-container {
  max-width: 100vw;
  max-height: 50vh;

  display: flex;
  flex-direction: row;
  position: relative;
}
/* End of Keyboard Container */

.keys {
  display: flex;
  flex-direction: row;
  position: relative;
}

.black-keys-container {
  max-width: 100vw;
  width: 100%;

  z-index: 1;
  position: relative;
}

/* Log Container */
.log-container {
  max-width: 420px;
  width: 100%;
  height: 150px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #111;
  font-size: 16px;

  text-align: center;
  overflow: scroll;
}
/* End Of Log Container */

/* Form Container */
.form-container {
  width: 420px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* End of Form Container */

/* Textfield */
input[type='text'],
#play-button {
  font-size: 16px;
}

/* Play Button */
#play-button {
  width: 100px;

  font-weight: bold;
}

/* White Key */
.white-key {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60px;
  height: 220px;

  background-color: #fff;
  border: 1px solid #111;
  border-radius: 0px 0px 5px 5px;
}
/* End of White Key */

/* Black Key */
.black-key {
  max-width: 30px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 5px 5px;

  background-color: #111;
  position: absolute;
  z-index: 2;
}
/* End of Black Key */

/* Individual white keys */
.key-name {
  font-size: 24px;
  font-weight: bold;

  position: absolute;
  bottom: 20px;
}
/* End of individual white keys */

/* Black keys (sharp keys) */
.c-sharp {
  left: 45px;
}

.d-sharp {
  left: 105px;
}

.f-sharp {
  left: 225px;
}

.g-sharp {
  left: 285px;
}

.a-sharp {
  left: 345px;
}
/* End of Black keys (sharp keys) */

/* Highlight */
.highlighted {
  background-color: #accef7;
}
/* End of Highlight */
